// Fonts
@import url('https://fonts.googleapis.com/css?family=PT Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url("//use.fontawesome.com/releases/v5.6.1/css/all.css'");